body {
  background-color: #fffbf7;  
}
  
h1{ 
color:#46484c ;
text-align: center;

 }
 
 p{ 
color: #46484c;
color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;

 }

 button {
  color: #fff;
  background-color: #025157;
}

 backgroung-color{color: #fffbf7
 }

 .header {
  /*margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;*/
  margin: 40 px 20 px 0;
  font-size: 0;
  height: 45 px;
  font-family: sans-serif;
}
li{
display: inline;
margin-right:25px;
margin-left:25px;

}
.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo{
  width: 15%
}



.logo > img{
width: 15%;
}
    


.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
} 

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}
  
  .main {
    margin-top: 140px;
    text-align: center;
  }

  .navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    
    
  }

  .actions a {

    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
  }

  .publish h3 { 
    color:#025157;

  }
  .publish p {

    color:#343434
  }
  .promo  {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }